<%- include('../_layout/adminheader') %>

<h2 class="page-title">Pages</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">add new page</a>
<br><br>



<%- include('../_layout/adminfooter') %>